/* body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

#loading-indicator p {
  margin-bottom: 10px;
}

iziToast {
  font-size: 18px;
  font-weight: bold;
  color: #666;
} */
/* ННННННННННННННННННННННННННННННННННННННННННННННННННННННННННННН */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

#loading-indicator p {
  margin-bottom: 10px;
}

iziToast {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
