/* styles css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  margin: 20px;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #ff00b3;
  color: rgb(192, 211, 22);
  border: none;
  cursor: pointer;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.info {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  color: #000;
}

.info p {
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  /* z-index: 1; */
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close-button {
  color: #3cd316;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #f1ee09;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: 20px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #0c9e38;
  padding: 10px 0;
  height: 150px;
}

/* Styles for the loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #11bb1a;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* ---------------prewiew-next */

.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999999;
  cursor: pointer;
  font-size: 48px;
  color: #ff00b3;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.gallery-nav.prev {
  left: 10px;
}

.gallery-nav.next {
  right: 10px;
}

.gallery-nav.prev::before,
.gallery-nav.next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.gallery-nav.prev::before {
  content: '\f053';
}

.gallery-nav.next::before {
  content: '\f054';
}
